@import './shared.scss';
header{
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}
main{
    .location{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.1);
        font-size: 1.2em;
        font-weight: 600;
        padding: 1em 0;
        i{
            padding-right: 1em;
        }
    }
    .search{
        text-align: center;
        padding: 2em;
        background-color: #f5f5f5;
        p{
            padding: 1em 0;
        }
        button{
            background: linear-gradient($pink,$purple);
            color: white;
            border: none;
            font-size: 1em;
            border-radius: 50px;
            padding: 1em 2em;
            box-shadow: 0.25em 0.25em 15px rgba(0, 0, 0, 0.25);
            font-weight: 600;
        }
    }
    .filters{
        padding: 1em;
        .filter{
            display: flex;
            align-items: center;
            border-radius: 20px;
            background-color: #f6f6f6;
            box-shadow: 0.25em 0.25em 15px rgba(0, 0, 0, 0.15);
            padding: 20px;
            margin: 20px 0;
            .circle{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -30px;
                margin-right: 0px;
                border-radius: 50%;
                min-height: 25px;
                min-width: 25px;
                background-color: $purple;
                color: white;
            }
            i{
                color: #6d6d6d;
                &:first-of-type{
                    padding-left: 10px;
                }
            }
            h3{
                padding: 0 15px;
                font-weight: 400;
            }
        }
    }
    .restaurant{
        padding: 1em;
        background-color: #f6f6f6;
        .restaurantContent{
            article{
                background-color: white;
                border-radius: 20px;
                margin: 20px 0;
                position: relative;
                .new{
                    padding: 0.5em;
                    background-color: $light_green;
                    color: seagreen;
                    border-radius: .125rem;
                    position: absolute;
                    top: 1rem;
                    right: .75rem;
                }
                img{
                    width: 100%;
                    height: 180px;
                    border-radius: 20px 20px 0 0;
                }
                figcaption{
                    padding: 1em;
                    i{
                        float: right;
                        color: $purple;
                    }
                }
            }
        }
    }
}
.restaurantContent,.filters{
    max-width: 1000px;
    margin: auto;
}
@media screen and (min-width: 600px) {
    h2{
        width: 100%;
    }
    .restaurantContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article{
            width: 49%;
        }
    }
}
@media screen and (min-width: 950px){
    .filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 1s both loaderTimeout 3s;;
    span{
        font-size: 30px;
        padding: 0 0.5em;
        text-transform: uppercase;
    }

    /* Animation loader */
    &-quart{
        animation: spin 1s linear infinite;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        border: 7px solid rgba(0, 0, 0, 0.8);
        border-top: 7px solid rgba(0, 0, 0, 0.3);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loaderTimeout {
    100% {
      opacity: 0;
    }
} 