main{
    .location{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
    .search{
        text-align: center;
        background-color: blue;
        padding: 2em;
    }
    .filters{
        padding: 1em;
        .filter{
            display: flex;
            align-items: center;
            border-radius: 20px;
            background-color: purple;
            padding: 20px;
            margin: 20px 0;
            .circle{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -30px;
                margin-right: 20px;
                border-radius: 50%;
                min-height: 25px;
                min-width: 25px;
                background-color: red;
            }
            h3{
                padding: 0 20px;
            }
        }
    }
    .restaurant{
        padding: 1em;
        article{
            background-color: royalblue;
            border-radius: 20px;
            margin: 20px 0;
            .new{
                position: absolute;
                right: 2em;
                margin-top: -190px;
                padding: 0.5em;
                background-color: seagreen;
            }
            img{
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
            }
            figcaption{
                padding: 1em;
                i{
                    float: right;
                }
            }
        }
    }
}