@import './shared.scss';
header a{
    position: absolute;
    left: 20px;
}
.slider{
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}
h1{
    font-family: $titleText;
}
main{
    margin-top: -50px;
    background-color: #f6f6f6;
    border-radius: 2em 2em 0 0;
    padding: 1em;
    padding-top: 2em;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .mainHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    h2{
        text-transform: uppercase;
        font-weight: 400;
    }
    section{
        padding-top: 1em;
    }
    article{
        box-shadow: 0.25em 0.25em 0.8em rgba(0, 0, 0, 0.10);
        background-color: white;
        border-radius: 15px;
        padding: 0.5em 1em;
        margin: 1em 0;
        cursor: pointer;
        overflow: hidden;
        max-width: 100%;
        display: flex;
        .articleContent{
            flex: 1;
            overflow: hidden;
            p,h3{
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            p{
                width: 100%;
                span{
                    float: right;
                }
            }
        }
        .price{
            font-weight: 700;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-left: .5rem;
        }
        .valid{
            background-color: #99e2d0;
            margin: -0.5em -5em -0.5em 1em;
            transition-duration: 0.5s;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .circle{
                height: 1.8em;
                width: 1.8em;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transform: rotate(180deg);
                transition-duration: 0.5s;
                i{
                    color: $light_green;
                }
            }
        }
        &:hover{
            .valid{
                margin-right: -1em;
                .circle{
                    transform: rotate(0deg);
                }
            }
        }
    }
    //Animation éléments menu
    @for $i from 1 through 10 {
        .delay-#{$i} {
            animation: commingTop 1s #{$i/10}s both;
        }
    }
    .order{
        text-align: center;
        padding: 2.5em 0;
    }
}
@keyframes commingTop {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}