@import './shared.scss';
header a{
    position: absolute;
    left: 20px;
}
.slider{
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}
h1{
    font-family: $titleText;
}
main{
    margin-top: -50px;
    background-color: #f6f6f6;
    border-radius: 2em 2em 0 0;
    padding: 1em;
    padding-top: 2em;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .mainHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        text-transform: uppercase;
    }
    article{
        box-shadow: 0.25em 0.25em 0.8em rgba(0, 0, 0, 0.10);
        background-color: white;
        border-radius: 15px;
        padding: 0.5em 1em;
        margin: 1em 0;
        p{
            width: 100%;
            span{
                float: right;
            }
        }
    }
    .order{
        text-align: center;
        button{
            background-color: $pink;
            color: white;
            border: none;
            font-size: 1em;
            border-radius: 50px;
            padding: 1em 2em;
            box-shadow: 0.25em 0.25em 15px rgba(0, 0, 0, 0.25);
        }
    }
}