@import './shared.scss';
header a{
    position: absolute;
    left: 20px;
}
.slider{
    width: 100%;
    max-width: 100%;
    max-height: 500px;
}
h1{
    font-family: $titleText;
}
main{
    margin-top: -50px;
    background-color: #f6f6f6;
    border-radius: 2em 2em 0 0;
    padding: 1em;
    padding-top: 2em;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .mainHeader{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .test{
            position: absolute;
            top: 2;
            right: 0;
            height: 20px;
            width: 20px;
            i{
                font-size: 1.5em;
                position: absolute;
                &+.fas{
                    color: transparent;
                }
                &:hover{
                    background: red;
                    background: linear-gradient( to top, $pink, $purple);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    animation: test ease 0.5s both;
                }
            }
        }
    }
    h2{
        text-transform: uppercase;
        font-weight: 400;
    }
    section{
        padding-top: 1em;
    }
    article{
        box-shadow: 0.25em 0.25em 0.8em rgba(0, 0, 0, 0.10);
        background-color: white;
        border-radius: 15px;
        padding: 0.5em 1em;
        margin: 1em 0;
        //opacity: 0;
        p{
            width: 100%;
            span{
                float: right;
            }
        }
    }
    //Animation éléments menu
    @for $i from 1 through 10 {
        .delay-#{$i} {
            animation: commingTop 1s #{$i/10}s both;
        }
    }
    .order{
        text-align: center;
        padding: 2.5em 0;
        button{
            background: linear-gradient($pink,$purple);
            color: white;
            border: none;
            font-size: 1em;
            border-radius: 50px;
            padding: 1em 3em;
            box-shadow: 0.25em 0.25em 15px rgba(0, 0, 0, 0.25);
            font-weight: 600;
        }
    }
}
@keyframes test {
    0% {
        height: 0%;
    }
    100% {
        height: 150%;
    }
}
@keyframes commingTop {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}