@import './variable.scss';
body{
    font-family: $fontText;
}
body,h1,figure,h3,ul{
padding: 0;
margin: 0;
}
header{
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img{
        font-size: 10em;
    }
}
main img{
    object-fit: cover;
}
footer{
    padding: 1em;
    background-color: #303030;
    color: white;
    span{
        font-family: $titleText;
        font-size: 1.2em;
    }
    i{
        position: absolute;
        & + a {
            margin-left: 2em;
        }
    }
    ul{
        margin-top: 10px;
        list-style: none;
        li{
            padding: 4px 0;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}