@import './variable.scss';
body,h1,figure,h3,ul{
padding: 0;
margin: 0;
}
header{
    text-align: center;
    padding: 10px 0;
    img{
        font-size: 10em;
    }
    box-shadow: 0px 5px 5px 2px rgba(0,0,0,0.1);
}
footer{
    padding: 1em;
    background-color: slategray;
    img{
        width: 6em;
    }
    i{
        position: absolute;
        & + a {
            margin-left: 2em;
        }
    }
    ul{
        list-style: none;
        li{
            padding: 10px 0;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}