@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
$fontText: 'Roboto', sans-serif;
$titleText: 'Shrikhand', cursive;
$purple: #9356DC;
$pink: #FF79DA;
$light_green: #99E2D0;
